html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #253237;
  font: 400 1.125rem/2rem Open Sans,sans-serif;
}

h1 {
  font: 700 3.2rem/4rem Work Sans,sans-serif;
}

h2 {
  font: 700 3.2rem/4rem Work Sans,sans-serif;
}

h3 {
  font: 700 3.2rem/4rem Work Sans,sans-serif;
}

:link, a {
  color: #1d27ff;
}